<nav class="navbar navbar-expand-lg navbar-custom  py-0 ">
  <a class="navbar-brand no-decoration" href='/'>Restaurant App</a>
  <button class="navbar-toggler  custom-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto d-flex ">
      <% if user_signed_in? %>

      <div class="d-flex  ">

      <li class="nav-item dropdown active d-flex mr-auto p-2">
              <%= link_to "#", class: "no-decoration ", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false do %>
                <div class="d-flex align-items-center user-icon">
                  <div class="mr-2">
                    <i class="fas fa-user fa-lg"></i>
                  </div>
                  <div class="d-flex flex-column ">
                    <p class="cart-navbar over-title">Hola!</p>
                    <p class="name-navbar"><%= current_user.name %></p>
                  </div>
                </div>
              <% end %>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="" ><%= link_to "Mis pedidos",orders_path , class: "dropdown-item" %></a>
          <a class="" >
            <% if current_user.admin? %>
              <%= link_to  "Administración", admin_dashboard_path, class: "dropdown-item" %>
            <% end %>
          <div class="dropdown-divider"></div>
             <%= link_to "Cerrar sesión", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </a>
        </div>

      </li>

        <li class="nav-item active d-flex p-2">
       <%= link_to '/cart' do %>
            <div class="d-flex align-items-center user-icon ">
              <div class="mr-2">
                <i class="fas fa-clipboard fa-lg"></i>
              </div>
              <div class="d-flex flex-column">
                <p class='cart-navbar over-title'>Pedido</p>
                <div id='cart'>
                  <%= render 'carts/cart' %>
                </div>
              </div>
            </div>
          <% end %>
      </li>
      </div>

        <% else %>
          <%= link_to "Inicia Sesión", new_user_session_path, class: "nav-link " %>
        </li>
      <% end %>
    </ul>

  <div class="search_form">
    <%= render './pages/search_form.html.erb' %>
  </div>

  </div>
</nav>