<h1 class ='text-center mt-5'>Restaurant App</h1>
  <div class="links">
    <%= link_to  "Crear tienda", new_store_path %>
    <%= link_to  "solo admin", admin_dashboard_path %>
  </div>
  <div class="product-card d-grid">
    <% @products.each do |product| %>
          <h3>  <%= product.name %></h3>
          <h3>  <%= product.price%></h3>
      <%= simple_form_for(@cart_item, remote: true ) do |f| %>
        <%= f.hidden_field :product_id, value: product.id %>
        <%= f.number_field :quantity, value: 0, min: 0 %>
        <%= f.submit "Agregar al carro" %>

      <% end %>
    <% end %>
  </div>



<%# <%= link_to  "Crear usuario", new_user_session_path %>