
<div class= "container" >

<h1 class ='text-center mt-5'>Categorías</h1>
    <hr/>

  <div class="container ">
    <% @categories.each do |category| %>
      <%= link_to(category_path(category)) do %>
        <div class="category-card d-flex flex-column m-3">
            <% if category.photo.attached? %>
                <%= image_tag  category.photo, alt: "#{category.name}", class: "category-img"%>
            <% else %>
              <%= image_tag ("imagen-no-disponible.jpg"), alt: "#{category.name}", class: "category-img"%>
            <% end %>
        </div>
              <p class = "category-name text-align-center"><%= category.name %></p>
      <% end %>
    <% end %>
  </div>


  <%# <div class="search_form">
    <%= render 'search_form.html.erb' %>
  <%# </div> %> 

</div>