<div class="container">
  <h1 class= 'title-style'>Confirmar Pago</h1>
  <div class="row mt-3">
<%#     <div class="col-md-3"><%= image_tag @order.teddy.photo_url, width: '100%' %>
    <div class="col-12 col-md-8">
          <%= render "show", collection: @order.cart %>
    </div>


    <div class="col-6 col-md-4">
      <div class="information-contain m-3 p-3">

          <p><strong >Estado del pago: </strong><span class="badge badge-primary"><%= @order.status %></span></p>
          <p><strong>Atendido por: </strong><%= @order.user.full_name %></p>
          <p><strong>Fecha de Transacción</strong>: <%=  @order.created_at.strftime("%d de %b del %Y")  %></p>
          <div class="dropdown-divider"></div>
          <button id="pay" class="btn btn-success btn-lg btn-block button-pay">Pagar</button>
          <script src="https://js.stripe.com/v3/"></script>
          <script>
            const paymentButton = document.getElementById('pay');
            paymentButton.addEventListener('click', () => {
              const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
              stripe.redirectToCheckout({
                sessionId: '<%= @order.checkout_session_id %>'
              });
            });
          </script>
      </div>
    </div>


  </div>
</div>