<div class="container">
  <h1>Categorías</h1>
  <%= @products.each do |category| %>
    <%= category.name %>
    <%= category.description %>
    <%= category.price %>
  <% end %>
  <%# <%== pagy_nav(@pagy) %>
  <%== pagy_bootstrap_nav(@pagy) %>
</div>